node_modules
# Keep environment variables out of version control
.env
# Keep log files out of version control
*.log
# Following example doc prisma on https://github.com/prisma/prisma-examples/blob/latest/.gitignore
**/migrations
**/*.db
**/dev.db-journal
